@{
    ViewBag.Title = "Create persons list";
}
@model PersonAddRequest;

<a asp-controller="Person" asp-action="index"
   class="inline-block mb-4 text-blue-600 font-medium hover:underline">
    ← Back to Person List
</a>

<h2 class="text-3xl font-semibold mb-6 text-gray-800">
    Create Person
</h2>



 <!-- Error Messages  after server side validaton -->
@* this only displays the error message after we send req to the server and server performs server side validaton .. since this error message which
we write above the properties in dto can all be displayed from server side validation so it is optional to write this code
*@
@if (ViewBag.errorMessages != null && ViewBag.errorMessages.Count > 0)
{
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
        <ul class="list-disc pl-5">
            @foreach (string error in ViewBag.errorMessages)
            {
                <li>@error</li>
            }
        </ul>
    </div>
} 



@* <form action="~/persons/create" method="post"
      class="max-w-lg bg-white p-8 rounded-xl shadow-lg space-y-5 border border-gray-100"> *@

      <!-- using the tag helper for the form -->

<form asp-controller="Person" asp-action="Create" method="post"
      class="max-w-lg bg-white p-8 rounded-xl shadow-lg space-y-5 border border-gray-100">

    <!-- Person Name -->
    <div>
        <label for="PersonName"
               class="block text-sm font-semibold text-gray-700">
            Person Name
        </label>
        @* <input id="PersonName"
               name="PersonName"
               type="text"
               placeholder="Enter person name"
               class="mt-1 w-full rounded-lg border border-gray-300 bg-gray-50
                      px-3 py-2 shadow-sm
                      focus:bg-white focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                      hover:border-blue-400
                      transition duration-200" /> *@
        <input  asp-for="PersonName"
               placeholder="Enter person name"
               class="mt-1 w-full rounded-lg border border-gray-300 bg-gray-50
                      px-3 py-2 shadow-sm
                      focus:bg-white focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                      hover:border-blue-400
                      transition duration-200" />
               <span asp-validation-for="PersonName" class="text-red-700 font-semibold"></span>

               @* this code is more clean that above as it automatically generates necessary attributes for us *@
         
    </div>

    <!-- Email -->
    <div>
        <label for="Email"
               class="block text-sm font-semibold text-gray-700">
            Email
        </label>
        <input asp-for="Email"
               
               placeholder="example@email.com"
               class="mt-1 w-full rounded-lg border border-gray-300 bg-gray-50
                      px-3 py-2 shadow-sm
                      focus:bg-white focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                      hover:border-blue-400
                      transition duration-200" />
               <span asp-validation-for="Email" class="text-red-700 font-semibold"></span>
    </div>

    <!-- Date of Birth -->
    <div>
        <label for="DateOfBirth"
               class="block text-sm font-semibold text-gray-700">
            Date of Birth
        </label>
        <input asp-for="DateOfBirth"
               class="mt-1 w-full rounded-lg border border-gray-300 bg-gray-50
                      px-3 py-2 shadow-sm
                      focus:bg-white focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                      hover:border-blue-400
                      transition duration-200" />
		<span asp-validation-for="DateOfBirth" class="text-red-700 font-semibold"></span>
    </div>

    <!-- Gender -->
    <div>
        <label class="block text-sm font-semibold text-gray-700 mb-2">
            Gender
        </label>

        <div class="flex gap-6" >
            @* @foreach (var gender in Enum.GetValues(typeof(GenderType))) *@
            @foreach(GenderType gender in ViewBag.genderEnums)
            {
                <label class="flex items-center gap-2 cursor-pointer">
                    <input type="radio"
                           asp-for="Gender"
                           value="@gender"
                           class="h-4 w-4 text-blue-600
                                      focus:ring-2 focus:ring-blue-500" />
                    <span class="text-gray-700">@gender</span>
                </label>
                
            }
            <span asp-validation-for="Gender" class="text-red-700 font-semibold"></span>
        </div>
    </div>

    <!-- Country -->
    <div>
        <label asp-for="CountryId"
               class="block text-sm font-semibold text-gray-700">
            Country
        </label>

        <select asp-for="CountryId"
                class="mt-1 w-full rounded-lg border border-gray-300 bg-gray-50
                       px-3 py-2 shadow-sm
                       focus:bg-white focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                       hover:border-blue-400
                       transition duration-200">
            <option value="">Select country from here</option>

            @foreach (CountryResponse country in ViewBag.countries)
            {
                <option value="@country.Id">
                    @country.CountryName
                </option>
            }
        </select>
        <span asp-validation-for="CountryId" class="text-red-700 font-semibold"></span>
    </div>

    <!-- Address -->
    <div>
        <label for="address"
               class="block text-sm font-semibold text-gray-700">
            Address
        </label>
        <textarea asp-for="Address"
               placeholder="Enter teh address here"
               class="mt-1 w-full rounded-lg border border-gray-300 bg-gray-50
                      px-3 py-2 shadow-sm
                      focus:bg-white focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                      hover:border-blue-400
                      transition duration-200" ></textarea>
               <span class="text-red-700 font-medium" asp-validation-for="Address"></span>
    </div>

    <!-- Submit -->
    <div class="pt-6">
        <button type="submit"
                class="w-full bg-blue-600 text-white font-semibold
                       px-4 py-2 rounded-lg shadow-md
                       hover:bg-blue-700 hover:shadow-lg
                       focus:ring-2 focus:ring-blue-500
                       transition duration-200">
            Create  
        </button>
    </div>

    @* to display all the validation errros *@
    <div asp-validation-summary="All" class="text-red-700 font-medium ">
        
    </div>
</form>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
asp-fallback-test="window.jQuery"
        asp-fallback-src="~/lib/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator"
        asp-fallback-src="~/lib/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
asp-fallback-src="~/lib/query.validate.unobtrusive.min.js"
asp-fallback-test="window.jQuery.validator.unobtrusive"
></script>